<html>
{%load mytags%}
 <head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>
      {%block title_block%}
      {%endblock%}
    </title>
</head>
<body>
  <div class="content" style="width:70%;float:left;height:200%;background-color:#c2b38a;padding:30px 10px 0 10px">
    {%block content_block%}
    {%endblock%}
  </div>
  <div class="sidebar" style="width:30%;float:right;height:200%;background-color:#84e3ce;padding:30px 0 0 10px">
    <h2 style="color:#b33d54">Overview of the Blog Project</h2>
    <h3>Total publications
      <span style="color:yellow;font-size:20px;">
      {%total_posts%}
      <h3>Latest Posts</h3>
      {% show_latest_posts 2 %}
      <h3>Most commented post</h3>
      {%get_most_commented_posts as m%}
      <ol>
        {%for post in m%}
        <li><a href="{{post.get_absolute_url}}">{{post.title}}</a></li>
        {%endfor%}
      </ol>
    </span>
  </h3>
  </div>
</body>
</html>
